table tr:nth-child(2n) {
  background-color: #8f8e8e;
}

code {
  padding: 0.125rem 0.25rem;
  color: var(--navbar-text-col);
  background-color: #f9f2f4;
  border-radius: 0.25rem;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  color: var(--navbar-text-col);
  font-family: 'Roboto', Courier, monospace;
}

/* --- Notification boxes --- */
.box-note,
.box-warning,
.box-error,
.box-success {
  padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  border: 1px solid #eee;
  border-left-width: 0.3125rem;
  border-radius: 0.3125rem 0.1875rem 0.1875rem 0.3125rem;
  color: #222;
}

.box-success {
  background-color: #056405;
  border-left-color: #3cb371;
  color: #000;
}

.commento-guest-details{
  margin-left: 0.2rem;
}

/* all p elements in .commento-comments */
.commento-comments p {
  color: whitesmoke;
}

li {
  padding-bottom: 1.15rem;
}

.language-plaintext {
  color: red !important;
}

h4 {
  font-size: 1.35rem;
}

/* add indent for all elements except headers */
/* 
.blog-post > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  padding-left: 1.25rem;
}*/

.blog-post ul {
  padding-left: 3.5rem;
}  
li > ul {
  padding-top: 1.15rem;
  padding-bottom: none !important;
}
.blog-post p {
  line-height: 1.4;
  padding-left: 1.15rem;
} 

/* Header font */
.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Custom font for blog content (excluding code, links, and icons) */
.blog-post p,
.blog-post li,
.blog-post blockquote {
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}