table tr:nth-child(2n) {
  background-color: #8f8e8e;
}

code {
  padding: 0.125rem 0.25rem;
  color: var(--navbar-text-col);
  background-color: #f9f2f4;
  border-radius: 0.25rem;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  color: var(--navbar-text-col);
}

/* --- Notification boxes --- */
.box-note,
.box-warning,
.box-error,
.box-success {
  padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  border: 1px solid #eee;
  border-left-width: 0.3125rem;
  border-radius: 0.3125rem 0.1875rem 0.1875rem 0.3125rem;
  color: #222;
}

.box-success {
  background-color: #056405;
  border-left-color: #3cb371;
  color: #000;
}

.commento-guest-details{
  margin-left: 0.2rem;
}

/* all p elements in .commento-comments */
.commento-comments p {
  color: whitesmoke;
}

li {
  padding-bottom: 1.25rem !important;
}

.language-plaintext {
  color: red !important;
}

h4 {
  font-size: 1.35rem;
}

/* add indent for p */
p {
 padding-left: 1.25rem;
}

ul {
  padding-left: 4.50rem;
}